process.env.HASHED_API_KEY = "ba2ef371838b7644589abb2e43876a11670891758a4cdd801225490d17e7f870";
process.env.MOCK_API_KEY = "KLASDLKSDKLJASDLKJASLDKASLDKJKLASD";
process.env.API_KEY = "<Find me in the API gateway>";
